html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;         
    justify-content: center;   
    align-items: flex-start;   
    font-family: 'Pretendard', sans-serif;
}

.page_Lab_notice {
    width: 393px;
    flex-grow: 0;
    padding: 170px 0 41px;
}

.top_fixed_area {
    position: fixed;
    top: 0;
    width: 393px;
    z-index: 9999;
    background-color: #ffffff;
}

.bar {
    width: 0%;
    height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 0 0 30px;
    padding: 0;
    background-color: #3c3a3a;
    transition: width 0.2s ease;
}

.Lab_logo {
    margin: 30px 0px 0px 36px;
}

.menu {
    width: 300px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 29px;
    margin: 35px auto 45px auto;
}

.menu_text {
    height: 26px;
    flex-grow: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.61;
    letter-spacing: -0.96px;
    text-align: left;
    color: #575454;
    text-decoration: underline;
}

.menu_text:hover {
    text-decoration: none;
}

.rule_section {
    max-width: 309px;
    margin: 30px 42px 62.4px;
    display: flex;
    flex-direction: column;
}

.rule_section_title {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.61;
    letter-spacing: -1.44px;
    text-align: left;
    color: #3c3a3a;
    display: block;
    margin-bottom: 20px;
}

.rule_section_content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 16px;
}

.rule_section_0 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rule_section_0_title {
    font-family: Pretendard;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.2px;
    text-align: left;
    color: #3c3a3a;
}

.rule_section_0_padding {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    text-align: justify;
    text-align-last: justify;
    color: #3c3a3a;
    word-break: keep-all;
    word-spacing: 1.2px;
    hyphens: none;
    white-space: pre-line;
    text-justify: distribute;
}

.rule_section_0_padding_no_justify {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    text-align: left;
    color: #3c3a3a;
    word-break: keep-all;
    white-space: pre-line;
    display: inline;
}

.rule_section_0_padding_mixed {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_0_padding_mixed::before {
    content: "모니터링을 거부할 수 있으나, 거부할 경우 이쪽 연구소에 ";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
}

.rule_section_1_padding_mixed {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_1_padding_mixed::before {
    content: "운영 정책은 카카오톡 오픈채팅방, 디스코드, 커뮤니티 (예정) 및 오프라인 모임(정기 모임이 아닌 개별적 모임 ";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
}

.rule_section_2_padding_mixed {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_2_padding_mixed::before {
    content: "운영 정책은 이쪽 연구소의 모든 구성원에게 적용되지만, 채팅방 방장(리더)의 경우 운영 상 편의를 위해 모든 정책";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
}

.rule_section_2_1_padding_mixed {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
}

.rule_section_2_1_padding_mixed::before {
    content: "1990년생부터 2012년생까지.";
    display: block;
    text-align: left;
    text-align-last: left;
    word-spacing: 0px;
}

.rule_section_2_3_padding_combined::before { 
    content: "닉네임은 태그하기 쉽고 부르기 쉽게 설정해 주세요. ";
    display: block;
    text-align: left;
    text-align-last: left;
    word-spacing: 0.5px;
    text-justify: distribute;
    line-height: 1.73;
    white-space: pre-line;
}

.rule_section_2_3_padding_combined {
    display: block;
    font-family: Pretendard;
    font-size: 16px;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_2_4_padding_combined {
    display: block;
    font-family: Pretendard;
    font-size: 16px;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_2_4_padding_mixed {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_2_4_padding_mixed::before {
    content: "지역과 연애 표기는 선택 사항이지만 표기하지 않아 발생";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
}

.rule_section_2_5_padding_combined::before { 
    content: "지역과 연애 표기는 선택 사항이지만 표기하지 않아 발생";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
    line-height: 1.73;
    white-space: pre-line;
}

.rule_section_2_5_padding_combined {
    display: block;
    font-family: Pretendard;
    font-size: 16px;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_2_2_padding_mixed {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_2_2_padding_mixed::before {
    content: "성별 정체성의 경우 지정 성별(생물학적 성별)이 남성이고\A스스로를 여성으로 정체화하지 않는 경우 입장할 수";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
}

.rule_section_2_1_title {
    font-family: Pretendard;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.08px;
    text-align: left;
    color: #3c3a3a;
    margin: 0;
    padding: 0;
}

.rule_section_2_1_1_title {
    font-family: Pretendard;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.08px;
    text-align: left;
    color: #3c3a3a;
    margin-top: 7%;
    padding: 0;
}

.rule_section_3_1_padding_combined::before { 
    content: "제재는 3회 경고 후 영구 추방(3 Strike)을 기본 원칙으로";
    display: block;
    text-align: justify;
    text-align-last: justify;
    word-spacing: 0.5px;
    text-justify: distribute;
    line-height: 1.73;
    white-space: pre-line;
}

.rule_section_3_1_padding_combined {
    display: block;
    font-family: Pretendard;
    font-size: 16px;
    line-height: 1.73;
    letter-spacing: -1.33px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: left;
}

.rule_section_3_2_padding_combined {
    display: block;
    font-family: Pretendard;
    font-size: 16px;
    line-height: 1.73;
    letter-spacing: -1.6px;
    color: #3c3a3a;
    word-break: keep-all;
    text-align: justify;
}

.objection {
    color: #557dea;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.objection:hover {
    text-decoration: none;
}

.rule_section_3_1_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.pupple-card {
    display: inline-block;
    font-family: Pretendard;
    font-size: 16.9px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.02px;
    text-align: left;
    color: #8355a4;
}

.pupple-card_padding {
    display: inline-block;
    font-family: Pretendard;
    font-size: 16.9px;
    font-weight: 500;
    line-height: 1.61;
    letter-spacing: -1.02px;
    text-align: right;
    color: #8355a4;
}

.yellow-card {
    display: inline-block;
    font-family: Pretendard;
    font-size: 16.9px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.02px;
    text-align: left;
    color: #eba01d;
}

.yellow-card_padding {
    display: inline-block;
    font-family: Pretendard;
    font-size: 16.9px;
    font-weight: 500;
    line-height: 1.61;
    letter-spacing: -1.02px;
    text-align: right;
    color: #eba01d;
}

.red-card {
    display: inline-block;
    font-family: Pretendard;
    font-size: 16.9px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.02px;
    text-align: left;
    color: #ff7259;
}

.red-card_padding {
    display: inline-block;
    font-family: Pretendard;
    font-size: 16.9px;
    font-weight: 500;
    line-height: 1.61;
    letter-spacing: -1.02px;
    text-align: right;
    color: #ff7259;
}

.footnote_num {
    font-weight: bold;
    color: #557dea;
    margin-left: 10px;
}

.copyright {
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a6a6a6;
    margin-top: 100px;
    margin-bottom: 30px;
}

.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.rule_section_3_2_1_title {
    font-family: Pretendard;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -0.99px;
    text-align: left;
    color: #3c3a3a;
    margin: 0;
    padding: 0;
}

.rule_section_3_2_1_padding {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    text-align: left;
    color: #3c3a3a;
    margin: 0;
    padding-left: 11px; 
    list-style-position: outside; 
}

.rule_section_3_2_1_1_padding {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    text-align: left;
    color: #3c3a3a;
    margin: 0;
    padding-left: 11px; 
    list-style-position: outside; 
}

.rule_section_3_2_1_padding li {
    margin-bottom: 4px;
    text-indent: 0; 
}

.rule_section_4_title {
    font-family: Pretendard;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.61;
    letter-spacing: -1.2px;
    text-align: left;
    color: #557dea;
    margin: 0;
    padding: 0;
}

.rule_section_4_padding {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.73;
    letter-spacing: -1.6px;
    text-align: left;
    color: #557dea;
    margin: 0;
    padding-left: 11px; 
    list-style-position: outside; 
}

.latest_update_date {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.61;
    letter-spacing: -0.84px;
    text-align: left;
    color: #000;
    margin-bottom: 30px;
    padding: 0;
}