html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
}

.page_Lab_crew {
    width: 393px;
    flex-grow: 0;
    padding: 170px 0 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_fixed_area {
    position: fixed;
    top: 0;
    width: 393px;
    z-index: 9999;
    background-color: #ffffff;
}

.bar {
    width: 0%;
    height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 0 0 30px;
    padding: 0;
    background-color: #3c3a3a;
    transition: width 0.2s ease;
}

.Lab_logo {
    margin: 30px 0px 0px 36px;
}

.Lab_logo_1 {
    position: relative; 
    margin-left: auto; 
    margin-right: -8%; 
    margin-top: -10%;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    transform: scale(0.45); 
}

.menu {
    width: 300px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 29px;
    margin: 35px auto 45px auto;
}

.menu_text {
    height: 26px;
    flex-grow: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.61;
    letter-spacing: -0.96px;
    text-align: left;
    color: #575454;
    text-decoration: underline;
}

.menu_text:hover {
    text-decoration: none;
}

.crew_profile_card_section {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 26px;
    margin: 0px auto 20px auto;
    padding: 0;
    overflow: hidden;
}

.crew_profile_card {
    width: 100%;
    height: auto;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding: 20px;
    border-radius: 13.3px;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.crew_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.crew_profile_pic_name_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.crew_profile_pic {
    width: 43.72px;
    height: 43.72px;
    border-radius: 50%;
    overflow: hidden;
}

.crew_profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.crew_profile_name {
    font-family: Pretendard;
    font-size: 12.5px;
    letter-spacing: -0.69px;
    font-weight: bold;
    color: #3c3a3a;
}

.crew_profile_quotation_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.crew_profile_quotation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.crew_profile_quotation_icon {
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
}

.crew_profile_quotation_padding {
    font-family: Pretendard;
    font-size: 12px;
    width: 200px;
    font-weight: 500;
    line-height: 1.59;
    letter-spacing: -0.69px;
    text-align: left;
    color: #a19b9b;
}

.crew_profile_tag_group {
    display: flex;
    flex-direction: column;
    gap: 7.5px; 
    align-items: flex-start;
    width: 100%;
}

.crew_profile_tag_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
}

.crew_profile_tag_box {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 5.5px;
    background-color: #fcefc8;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.crew_profile_tag_box_1 {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 5.5px;
    background-color: #E2ECFC;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.crew_profile_tag_box_2 {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 5.5px;
    background-color: #ECECEC;
    font-family: Pretendard, sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.crew_profile_tag_icon {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
}

.crew_profile_tag_text {
    font-size: 10.2px;
    font-weight: 600;
    letter-spacing: -0.69px;
    color: #d9a242;
}

.crew_profile_tag_text_1 {
    font-size: 10.2px;
    font-weight: 600;
    letter-spacing: -0.69px;
    color: #718EC9;
}

.crew_profile_tag_text_2 {
    font-size: 10.2px;
    font-weight: 600;
    letter-spacing: -0.69px;
    color: #797373;
}

.copyright {
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.12px;
    color: #a6a6a6;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
