html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;         
    justify-content: center;   
    align-items: flex-start;   
    font-family: 'Pretendard', sans-serif;
}

.page_Lab_intro {
    width: 393px;
    flex-grow: 0;
    padding: 170px 0 41px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative; 
}

.top_fixed_area {
    position: fixed;
    top: 0;
    width: 393px;
    z-index: 9999;
    background-color: #ffffff;
}

.bar {
    width: 0%;
    height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 0 0 30px;
    padding: 0;
    background-color: #3c3a3a;
    transition: width 0.2s ease;
}

.Lab_logo {
    margin: 30px 0px 0px 36px;
}

.menu {
    width: 300px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 29px;
    margin: 35px auto 45px auto;
}

.menu_text {
    height: 26px;
    flex-grow: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.61;
    letter-spacing: -0.96px;
    text-align: left;
    color: #575454;
    text-decoration: underline;
}

.menu_text:hover {
    text-decoration: none;
}

.intro_illust {
    width: 100%; 
    max-width: 365px; 
    height: auto;
    box-sizing: border-box; 
    text-align: center;
}

.title_section {
    width: 100%; 
    max-width: 350px; 
    margin: 40px auto; 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    box-sizing: border-box; 
    border-radius: 8px; 
}

.title_text {
    width: 100%; 
    max-width: 300px; 
    margin: 0 0 25px; 
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700; 
    line-height: 1.4; 
    letter-spacing: -1.5px; 
    text-align: left;
    color: #3c3a3a;
}

.title_padding {
    width: 100%; 
    max-width: 320px; 
    margin: 0; 
    padding: 10px 0;
    font-family: Pretendard;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 1.6;  
    letter-spacing: -1px;
    color: #3c3a3a;
}

.review_section {
    width: 100%; 
    max-width: 350px; 
    margin: 20px auto; 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    box-sizing: border-box; 
    border-radius: 8px; 
}

.vision {
    width: 100%;
    max-width: 350px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    box-sizing: border-box;  
}

.vision_section {
    width: 100%; 
    max-width: 350px; 
    margin: 20px auto; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box; 
    gap: 20px;
}

.review_section_title {
    width: 100%; 
    max-width: 300px; 
    font-family: Pretendard;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: -1.2px;
    text-align: left;
    color: #3c3a3a;
}

.vision_title {
    width: 100%; 
    max-width: 300px;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: -1.2px;
    text-align: left;
    color: #3c3a3a;
}

.review {
    width: 100%;
    max-width: 350px; 
    height: auto; 
    flex-grow: 0;
}

.review_box {
    width: 100%; 
    max-width: 350px;
    height: auto; 
    flex-grow: 0;
    margin: 10px auto;
    padding: 25px 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box; 
    gap: 8px; 
    position: relative; 
}

.review_content {
    width: 100%;
    max-width: 310px; 
    display: flex; 
    flex-direction: column;
    gap: 5px; 
}

.review_name {
    width: auto; 
    font-size: 14px;
    letter-spacing: -1px;
    font-family: Pretendard;
    font-weight: bold;
    color: #3c3a3a;
}

.review_site {
    width: auto; 
    font-size: 12px;
    letter-spacing: -1px;
    font-family: Pretendard;
    font-weight: 600;
    color: #6b6b6b; 
}

.review_comment {
    width: auto; 
    font-size: 12px;
    letter-spacing: -1px;
    margin-top: 3%;
    font-family: Pretendard;
    line-height: 1.6;
    color: #8b8888;
}

.vision_detail_title {
    width: auto;
    font-family: Pretendard;
    font-size: 16.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: -0.99px;
    text-align: left;
    color: #3c3a3a;
}

.vision_detail_title .vision_title_keyword_1 {
    color: #557dea;
}

.vision_detail_title .vision_title_keyword_2 {
    color: #72BA6E;
}

.vision_detail_title .vision_title_keyword_3 {
    color: #F6A10D;
}

.vision_detail_padding {
    width: auto;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.84;
    letter-spacing: -0.84px;
    text-align: left;
    color: #3c3a3a;
  }

.macOS_UI {
    width: 28.5px;
    height: 6.5px;
    position: absolute; 
    top: 17px;
    right: 24px; 
}

.button_1 {
    width: 330px;
    height: 133px;
    margin-top: 10%;
    border-radius: 18px;
    background-image: url('../img/og-image.png');
    background-size: 100%;
    position: relative; 
}

.button_1:before {
    height: 0%;
    width: 2px;
}

.button_1:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,0.1),
              -4px -4px 6px 0 rgba(116, 125, 136, 0.1), 
            inset -4px -4px 6px 0 rgba(255,255,255,0.01),
            inset 4px 4px 6px 0 rgba(0, 0, 0, 0.356);
}

.button_right_arrow {
    top: 21px;
    left: 17px;
    position: absolute;  
}

.button_text{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.91;
    letter-spacing: -0.84px;
    text-align: left;
    color: #fff;
    top: 13px;
    left: 40px; 
    position: absolute; 
}

.button_2 {
    width: 330px;
    height: 53px;
    border-radius: 18px;
    margin-top: 7%;
    background-color: #5865F2;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.button_2:before {
    height: 0%;
    width: 2px;
}

.button_2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,0.1),
              -4px -4px 6px 0 rgba(116, 125, 136, 0.1), 
            inset -4px -4px 6px 0 rgba(255,255,255,0.01),
            inset 4px 4px 6px 0 rgba(0, 0, 0, 0.356);
}

.button_2_group {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    gap: 15px; 
}

.button_text_1 {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.91;
    letter-spacing: -0.84px;
    text-align: left;
    color: #fff;
}

.button_text_1 {
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.91;
    letter-spacing: -0.84px;
    text-align: left;
    color: #fff;
}

.copyright {
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a6a6a6;
    margin-top: 100px;
    margin-bottom: 30px;
}